@font-face {
	font-family: FontAwesome;
	src: url(../fonts/FontAwesome.otf);
	}
@font-face {
	font-family: 'Gotham Bold';
	src: url('../fonts/Gotham Bold Regular.ttf');
	font-weight: 700;
	font-style: normal;
	}
@font-face {
	font-family: 'Gotham Book';
	src: url('../fonts/Gotham Book Regular.otf');
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: 'Gotham Medium';
	src: url('../fonts/Gotham Medium.ttf');
	font-weight: 500;
	font-style: normal;
	}
h1,
h2,
h3,
h4 {
	font-weight: normal;
	margin: 0;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Gotham Book';
	font-size: 1.4rem;
	color: #566375;
	background: #f3f1f2;
}
*[onclick] {
    cursor: pointer;
}
.container {
	width: 100%;
	max-width: 980px;
	margin: 0px auto;
}
a {
	text-decoration: none;
}
input[type="text"]:focus {
	outline: none;
	box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.7);
}
.nav a {
	text-transform: uppercase;
	color: #96a6a7;
}
.menu li {
	display: inline-block;
	padding: 0px;
}
.menu {
	margin: 0px;
	padding: 0px;
}
/* TOP-MENU */

.top-menu {
	width: 100%;
	height: 74px;
	display: block;
	font-family: 'Gotham Medium';
	background: #fff;
	overflow: hidden;
}
.logo {
	background: url(../images/logo.png);
	width: 154px;
	height: 45px;
	margin-top: 1.4rem;
	float: left;
}
.navbar{
}
.navbar-nav  {
	margin-top: 2.9rem;
	float: left;
}
.navbar-nav li {
	margin-left: 1.7rem;
}
.nav__top-button {
	float: right;
}
.buttom__search {
	width: 74px;
	height: 74px;
	font-size: 2.4rem;
	line-height: 2.8;
	margin-left: 1.5rem;
	float: left;
	background: #e2dee0;
	text-align: center;
	color: #fff;
}
.buttom__user {
	float: left;
	width: 160px;
	height: 74px;
	background: #e94e38;
	text-align: center;
	display: inline-block;
}
.buttom__user p {
	margin-top: 2.7rem;
	color: #fff;
	text-transform: uppercase;
}
.buttom__user i {
	font-size: 1.6rem;
	margin-right: 1.3rem;
}
.top-menu__bottom-position {
	float: right;
}
.menu__container__top-menu {
	position: relative;
}
.menu__container__top-menu::after {
	content: "";
	height: 74px;
	width: 100%;
	background: #e94e38;
	position: absolute;
	left:  100%;
}
.button {
	font-family: 'Gotham Medium';
	text-transform: uppercase;
	display: inline-block;
	border-radius: 4rem;
	border: none;
}

.button-red {
	background-color: rgb(233, 78, 56);
	box-shadow: 0px 2px 0px 0px rgba(193, 65, 46, 1);
	text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
	color: #fff;
}

/* HEADER SEARCH */	

.bg {
	position: relative;
	display: inline-block;
}
.header__bg {
	width: 100%;
	height: 375px;
	background: url(../images/background/header-bg.jpg);
	background-size: cover;
}
.bg::before,
.header__bg::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.bg::before {
	background: rgba(0, 0, 0, 0.7);
}
.header__bg::after {
	background: url(../images/background/header-search-pattern.png);
}
.bg-position {
	position: relative;
	z-index: 1;
}
.header__title {
	font-family: 'Gotham Medium';
	text-align: center;
	color: #fff;
	margin-top: 51px;
	font-size: 3rem;
}
.button__search {
	margin-top: 2.8rem;
	font-size: 1.8rem;
	padding: 2rem 3rem 1.9rem;
}

/* MAINMENU */

.mainmenu {
	display: inline-block;
	width: 100%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 0px 0px rgb(237, 235, 236);
}
.nav__mainmenu {
	margin-top: 26px;
}
.mainmenu {
	width: 100%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 0px 0px rgb(237, 235, 236);
	display: block;
	font-family: 'Gotham Medium';
	font-size: 1.2rem;
}
.nav__mainmenu {
	margin-top: 2.3rem;
	float: left;
}
.nav__mainmenu .article {
	color: #e94e38;
}
.nav__mainmenu a {
	margin-left: 1.7rem;
}
.nav__mainmenu > :first-child a {
	margin-left: 0rem;
}
.mainmenu__nav__buttom {
	margin-top: 12px;
	float: left;
}
.menu-wrap .mainmenu__nav__buttom {
	float: unset;
	display: inline-block;
	text-align: left;
}
.mainmenu__select * {
	box-sizing: border-box;
}
.mainmenu__select .jq-selectbox__select {
	color: #e94e38;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	width: 117px;
	height: 37px;
	text-transform: uppercase;
}
.mainmenu__select .jq-selectbox__select {
	border: 1px solid #cad2d3;
}
.mainmenu__select .jq-selectbox__select-text:after {
	color: #96a6a7;
	font-size: 1.2rem;
	right: 20px;
	line-height: 1.2;
}
.mainmenu__select {
	margin: 0px;
	margin-right: 0.6rem;
}
.button-border {
	padding: 1rem 2rem;
	border: 1px solid #cad2d3;
	color: #96a6a7;
}
.button-border:hover {
	background: #1baf5d;
	color: #fff;
}
.mainmenu__button {
	box-sizing: border-box;
	width: 127px;
	height: 37px;
	position: relative;
	text-transform: uppercase;
	margin-right: 6.3rem;
	vertical-align: middle;
}
.menu-module .mainmenu__button {
	margin-right: 0rem;
}
.mainmenu__button .fa-map-marker:after {
	position: absolute;
	right: 18px;
}
.menu-module__icon .icon {
	text-align: left;
}
.menu-module__title {
	display: block;
	font-size: 1.4rem;
}
.nav__icon {
	float: left;
	text-transform: uppercase;
	font-size: 0px;
	margin-top: 10px;
}
.nav__icon li {
	margin-left: 11px;
}
.nav__icon-title {
	font-size: 1.2rem;
	vertical-align: middle;
}
.icon {
	display: inline-block;
	border-radius: 20px;
	position: relative;
}
icon-tags {
	width: 40px;
	height: 40px;
	background: #1baf5d;
	color: #fff;
}
.icon:before {
	content: "";
	position: absolute;
}
.mainmenu__icon:before {
	width: 40px;
	height: 40px;
}
.mainmenu__icon {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.nav__title {
	font-size: 1.2rem;
	vertical-align: middle;
	display: inline-block;
	float: left;
}
.nav__button {
    border: none;
    background: none;
    padding: 0;
    text-align: left;
}
.icon-home {
	background: #1baf5d;
}
.icon-user {
	background: #b6c0c1;
}
.icon-furaska {
	background: #b6c0c1;
}
.icon-note {
	background: #f19e1f;
}
.icon-bus {
	background: #88499c;
}

/* POSTS */

.posts {
	border-bottom: 1px solid #e2dee0;
	font-size: 0;
}
.posts__full-block > :first-child {
	margin-left: 1.6rem;
}
.posts__full-block > :last-child {
	margin-right: 1.6rem;
}
.posts__full-block {
	width: 100%;
	margin-top: 2.9rem;
	font-size: 0px;
	display: inline-block;
	box-sizing: border-box;
}
.posts > :first-child {
	margin-top: 4.6rem;
}

.posts__block {
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 0px 0px rgb(226, 222, 224);
	text-align: center;
	margin: 0 1.7rem;
	font-family: 'Gotham Medium';
	font-size: 1.2rem;
	float: left;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.posts__block-210 .posts__overflow {
	overflow: hidden;
}
.posts__img {
	position: relative;
	text-align: left;
}
.icon-post {
	width: 55px;
	height: 55px;
	border: 3px solid #fff;
	border-radius: 40px;
	position: absolute;
	bottom: -30px;
	z-index: 2;
}
/* 210px */

.posts__block-210 {
	box-sizing: border-box;
	max-width: 210px;
	width: 25%;
	height: 270px;
}

.posts__block-210__height {
	height: 270px;
}
.posts__block-210 .posts__img {
	width: 100%;
	height: 140px;
}
.posts__block-210 .posts__overflow {
	width: 100%;
	height: 140px;
}
.posts__block-210 .icon-post {
	bottom: -30px;
	left: 50%;
	margin-left: -31px;
}
.icon-post:before {
	width: 55px;
	height: 55px;
}
.posts__block-210__text p {
	margin: 0;
	margin-top: 0.3rem;
}

.posts__block-210__title a {
	color: #566375;
	font-size: 1.4rem;
	margin-top: 0.5rem;
	line-height: 1.8rem
}
.posts__block-210__name {
	text-transform: uppercase;
	font-size: 1.2rem;
}
.posts__block-210 span {
	color: #f19e1f;
}
.posts__show {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	z-index: 1;
	display: none;
}
.button__posts {
	box-sizing: border-box;
	width: 100%;
	max-width: 140px;
	height: 35px;
	font-size: 1.2rem;
	margin-top: 23px;
	padding: 0.9rem;
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
}
.posts__show__rating {
	margin-top: 1.3rem;
}
.posts__show__rating span,
.posts__show__rating a {
	color: #fff;
	font-size: 1.8rem;
}
.posts__show__rating i[class*="fa-comments-o"] {
	font-size: 2.4rem;
}
.posts__show span {
	margin-right: 2.5rem;
}
.button__posts i {
	margin-right: 0.8rem;
}
.posts__block-210 .posts__img:hover img {
	filter: blur(2px);
}
.posts__img:hover .posts__show {
	display: block;
}
.posts__block-210__text {
	padding: 27px 15px 0px;
	height: 123px;
	box-sizing: border-box;
	position: relative;
}
.posts__block-210__text__rating {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 13px;
}

/* 455px */

.posts__block-455 {
	width: 50%;
	max-width: 454px;
	height: 270px;
}
.posts__block-455 .posts__img {
	width: 100%;
	height: 120px;
}
.posts__block-455 .posts__overflow {
	width: 100%;
	height: 120px;
	overflow: hidden;
}
.posts__block-455 .icon-post {
	bottom: -33px;
	left: 20px;
}
.posts__img__text {
	position: absolute;
	left: 97px;
	bottom: 17px;
	z-index: 1;
}
.posts__img__text p,
.posts__img__text h2 {
	display: inline-block;
	font-weight: normal;
	margin: 0;
}
.posts__img__text span {
	color: #f19e1f;
}
.posts__img__text a {
	color: #fff;
}
.posts__img__text .posts__img__title {
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #fff;
	margin-right: 5px;
}
.posts__gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../images/article/posts/gradient-29%25.png) repeat-x;
	background-position: bottom;
}
.posts__block-455__text {
	width: 100%;
	height: 147px;
	padding: 27px 1.9rem 0px;
	box-sizing: border-box;
	position: relative;
}
.posts__block-455__rating {
	position: absolute;
	top: 14px;
	left: 97px;
	color: #f19e1f;
	font-size: 1.8rem
}
.rating__overflow {
	width: 55px;
	height: 55px;
	border: 3px solid #e2dee0;
	border-radius: 40px;
	overflow: hidden;
	position: relative;
	float: left;
}
.posts__block-455__arlicle__text {
	text-align: left;
	line-height: 2rem;
	display: inline-block;
	position: absolute;
	left: 97px;
	font-size: 1.4rem;
}
.posts__block-455__arlicle .posts__block-455__name {
	font-family: 'Gotham Bold';
	text-transform: uppercase;
	font-size: 1.6rem;
	margin: 0rem;
}
.posts__block-455__arlicle__text a {
	font-family: 'Gotham Medium';
	color: #566375;
}
.posts__block-455__arlicle {
	margin-top: 2rem;
}
.posts__block-455__arlicle__text p {
	font-family: 'Gotham Book';	
	margin-top: 0.4rem;
	padding-right: 15px;
}






/* POST HOME */
.home__price {
	font-size: 1.2rem;
	padding: 0.5rem 1.1rem 0.6rem;
	color: #fff;
	display: inline-block;
	border-radius: 30px;
	background: #1baf5d;
	position: absolute;
	top: 7px;
	right: 8px;
	cursor: default;
}
.posts__img:hover .home__price {
	display: none;
}
.posts__home .posts__img {
	border-bottom: 3px solid #1baf5d;
}
.posts__home .icon-post {
	background: #1baf5d;
}
.posts__home .posts__block-210__name a {
	color: #1baf5d;
}
.posts__home .posts__show {
	background: rgba(27, 175, 93, 0.7);
}
.posts__home .button__posts {
	background: rgba(27, 175, 93, 0.5);	
}
/* POST BUS */

.posts__bus .posts__img {
	border-bottom: 3px solid #88499c;
}
.posts__bus .icon-post {
	background: #88499c;
}
.posts__bus .posts__block-210__name a {
	color: #88499c;
}
.posts__bus .posts__show {
	background: rgba(136, 73, 156, 0.7);
}
.posts__bus .button__posts {
	background: rgba(136, 73, 156, 0.5);	
}

/* POST MUSIC*/

.posts__music .posts__img {
	border-bottom: 3px solid #f19e1f;
}
.posts__music .icon-post {
	background: #f19e1f;
}
.posts__music .posts__block-210__name a {
	color: #f19e1f;
}
.posts__music .posts__show {
	background: rgba(241, 158, 31, 0.7);
}
.posts__music .button__posts {
	background: rgba(241, 158, 31, 0.5);	
}

/* CLUB */

.posts__club .posts__img {
	border-bottom: 3px solid #f19e1f;
}
.posts__club .icon-post {
	background: #f19e1f;
}
.posts__club .posts__block-210__name a {
	color: #f19e1f;
}
.posts__club .posts__show {
	background: rgba(241, 158, 31, 0.7);
}
.posts__club .button__posts {
	background: rgba(241, 158, 31, 0.5);	
}


/* END POSTS ALLELUIA! */

.link__more {
	margin-top: 34px;
	margin-bottom: 35px;
	text-align: center;
}
.link__more a {
	color: #566375;
	font-size: 1.8rem;
	font-family: 'Gotham Medium';
}

/* Offer */

.offer {
	text-align: center;
	margin-top: 84px;
}
.offer h2 {
	font-size: 2.2rem;
	font-family: 'Gotham Medium';
}
.ofter__text {
	font-size: 1.6rem;
	color: #96a6a7;
	margin-top: 0.7rem;
}
.offer__icon {
	font-size: 0px;
	margin-top: 69px;
	display: inline-block;
}
.offer__icon .icon {
	width: 102px;
	height: 102px;
	border: 2px solid #96a6a7;
	border-radius: 60px;
	text-align: left;
	margin-left: 60px;
	float: left;
}
.offer__icon .offer-home {
	border: 2px solid #1baf5d;
}
.offer__icon .icon:before {
	width: 102px;
	height: 102px;
}
.offer__icon .icon::after {
	content: url(../images/article/posts/icon-after.jpg);
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: -58px;
}
.offer__icon > :last-child::after {
	content: none;
}
.offer__block1 > :first-child {
	margin: 0px;
}
.offer__block1,
.offer__block2 {
	float: left;
}
.offer__block2 > :last-child::after {
	content: none;
}
.offer__title {
	font-size: 2.4rem;
	font-family: 'Gotham Medium';
	color: #1baf5d;
	margin-top: 30px;
}
.offer__reality {
	margin-top: 36px;
}
.offer__reality > :last-child {
	margin-right: 0px;
}
.offer__reality__block1 {
	width: 50%;
	max-width: 393px;
	height: 140px;
	display: inline-block;
	text-align: left;
	line-height: 2.4rem;
	box-sizing: border-box;
}
.offer__reality > :first-child {
	padding-right: 14px;
}
.offer__reality > :last-child {
	padding-left: 14px;
}
.reality__icon .icon:before {
	width: 62px;
	height: 62px;
}
.reality__icon .icon {
	width: 62px;
	height: 62px;
	border-radius: 40px;
	margin-top: 7px;
	background: #1baf5d;
}
.reality__icon {
	height: 100%;
	margin-right: 33px;
	float: left;
}
.offer__reality__block1 p {
	margin: 0px;
}


/* FOOTER */

.footer__bg {
	width: 100%;
	height: 500px;
	background: url(../images/background/footer-bg.jpg);
	background-size: cover;
	display: block;
	margin-top: 136px;
}
.footer__title {
	font-size: 2.4rem;
	font-family: 'Gotham Medium';
	color: #fff;
	margin: 0px;
}
.footer__form {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 56px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 56px;
}
.footer__form__email {
	margin-top: 4.2rem;
	background: rgba(255, 255, 255, 0.10);
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: inline-block;
	width: 100%;
	max-width: 495px;
	height: 62px;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 1.8rem 3.4rem 0.4rem;
	text-align: left;
	position: relative;
}
.form__email {
	font-family: 'Gotham Book';
	font-size: 1.8rem;
	background: none;
	border: none;
	color: rgb(255, 255, 255);
}
.footer__form__email::before {
	content: "\f003";
	font-family: FontAwesome;
	font-size: 1.8rem;
	margin-right: 18px;
	color: #fff;
	vertical-align: top;
}
.footer__form__email .form__email:focus {
	box-shadow: none;
	outline: none;
}
.footer__button {
	font-size: 1.4rem;
	width: 120px;
	height: 50px;
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -25px;
}
.form__email::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
.form__email::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
.form__email:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
.form__email:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.footer__full {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 41px
}
.footer__block-title {
	font-family: 'Gotham Medium';
	text-decoration: underline;
	color: #fff;
	margin: 0px;
	margin-bottom: 26px;
}
.footer__nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer__nav a {
	color: #c0bebc;
}
.footer__nav li {
	margin-top: 8px;
}
.footer__block1 {
	width: 33.33%;
	max-width: 278px;
	padding-right: 50px;
	float: left;
	box-sizing: border-box;
}
.footer__block2 {
	display: inline-block;
}
.footer__block2 a {
	color: #fff;
	font-size: 3rem;
	margin-right: 20px
}
.footer__copyright {
	color: #fff;
	position: absolute;
	bottom: 0px;
}
.copyright {
	color: #fff;
	text-align: center;
	display: none;
}